{% load static %}
<div id="ccr-carousel" class="carousel slide" data-ride="carousel" style="margin-bottom: 10px;">
  <ul class="carousel-indicators">
    <li data-target="#ccr-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#ccr-carousel" data-slide-to="1"></li>
    <li data-target="#ccr-carousel" data-slide-to="2"></li>
    <li data-target="#ccr-carousel" data-slide-to="3"></li>
    <li data-target="#ccr-carousel" data-slide-to="4"></li>
    <li data-target="#ccr-carousel" data-slide-to="5"></li>
    <li data-target="#ccr-carousel" data-slide-to="6"></li>
    <li data-target="#ccr-carousel" data-slide-to="7"></li>
    <li data-target="#ccr-carousel" data-slide-to="8"></li>
  </ul>
  <div class="carousel-inner">
    <div class="carousel-item active text-center">
      <a href="http://www.buffalo.edu/ccr/support/ccr-help.html">
        <img class="img-fluid" src="{% static 'common/images/ccrhelp.png' %}" alt="CCR Help" max-height="500">
      </a>
      <div class="carousel-caption">
        <span class="badge bg-info">CCR Help: Experienced system administrators & computational scientists available to all users</span>
      </div>   
    </div>
    <div class="carousel-item text-center">
      <a href="https://ubccr.freshdesk.com/solution/articles/5000680722">
      <img class="img-fluid" src="{% static 'common/images/cloud.png' %}" alt="Cloud" max-height="500">
      </a>
      <div class="carousel-caption">
        <span class="badge bg-info">CCR’s research cloud is available to all UB faculty groups</span>
      </div>   
    </div>
    <div class="carousel-item text-center">
      <a href="http://www.buffalo.edu/ccr/outreach.html">
      <img class="img-fluid" src="{% static 'common/images/educational_outreach.png' %}" alt="Educational Outreach" max-height="500">
      </a>
      <div class="carousel-caption">
        <span class="badge bg-info">CCR’s outreach extends to local schools and businesses</span>
      </div>   
    </div>
    <div class="carousel-item text-center">
      <a href="http://www.buffalo.edu/ccr/services/high-performance-computing.html">
      <img class="img-fluid" src="{% static 'common/images/hardware.png' %}" alt="Hardware" max-height="500">
      </a>
      <div class="carousel-caption text-center">
        <span class="badge bg-info">CCR supports thousands of servers for UB researchers & collaborators</span>
      </div>   
    </div>
    <div class="carousel-item text-center">
      <a href="http://www.buffalo.edu/ccr/support/research_facilities/networking.html">
      <img class="img-fluid" src="{% static 'common/images/networking.png' %}" alt="Networking" max-height="500">
      </a>
      <div class="carousel-caption">
        <span class="badge bg-info">High performance networking & storage are crucial to CCR’s services</span>
      </div>   
    </div>

    <div class="carousel-item text-center">
      <a href="http://www.buffalo.edu/ccr/services/research-highlights.html">
      <img class="img-fluid" src="{% static 'common/images/research.png' %}" alt="Research" max-height="500">
      </a>
      <div class="carousel-caption">
        <span class="badge bg-info">Enabling research & scholarship at UB is CCR’s info mission</span>
      </div>   
    </div>

    <div class="carousel-item text-center">
      <a href="http://www.buffalo.edu/ccr/services/industrial-outreach.html">
      <img class="img-fluid" src="{% static 'common/images/visualization.png' %}" alt="Visualization" max-height="500">
      </a>
      <div class="carousel-caption">
        <span class="badge bg-info">Industrial outreach & economic development are an important component of CCR</span>
      </div>   
    </div>

    <div class="carousel-item text-center">
      <a href="http://www.buffalo.edu/ccr/services/services.html">
      <img class="img-fluid" src="{% static 'common/images/serverroom.png' %}" alt="Server Room" max-height="500">
      </a>
      <div class="carousel-caption">
        <span class="badge bg-info">Consulting services are available to help enable researchers & their work</span>
      </div>   
    </div>    
  </div>
  <a class="carousel-control-prev bg-light" href="#ccr-carousel" data-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </a>
  <a class="carousel-control-next bg-light" href="#ccr-carousel" data-slide="next">
    <span class="carousel-control-next-icon"></span>
  </a>
</div>