.fakeimg {
  height: 77px;
  background: #E2E2E2;
}

/*.navbar-custom {
  background-color: #FFFFFF;
  font-weight: bold;
  height: 50px;
}

.navbar-custom > .navbar-nav > .active {
  background: #E2E2E2;
}

*/



html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 250px;
}

main {
    padding-top: 40px;
    padding-bottom: 40px;
}

nav .navbar-nav li a{
  color: #005bbb !important;
  }

.ubcolor li a {
  color: #005bbb !important;
}


.ubcolor h3 {
  color: #005bbb !important;
}

.progress-bar {
  background-color: #005bbb
}

.page-item.active .page-link {
    background-color: #005bbb;
    border-color: #005bbb;
}

.page-link { 
    color: #005bbb;
}

.navbar-custom {
    margin-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #FFFFFF;
    background-color: #FFFFFF;
    font-weight: 900;
    font-size: 16px;
}

.navbar-custom .navbar-nav>.active {
    /*color: #E2E2E2;*/
    background: #E2E2E2;
}

.blue-nav-bar-side {
  background-color: #005bbb;
  margin-right: 0px;
  margin-left: 0px;
  padding-bottom: 3px;
}

.bg-primary {
  background-color: #005bbb !important;
}

.text-primary {
  color: #005bbb !important;

}

.border-primary {
  border-color: #005bbb !important;
}


.navbar-toggler-icon {
  height: 1.0em
}
#ubbanner {
  border-bottom: 1px solid #FFF;
  margin-right: -15px;
  margin-left: -15px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 250px;
  background-color: #005bbb;
  color: #ffffff !important;
  padding-top: 15px;
}

#footer a {
  color: #ffffff;
}

#footer-div-main {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #FFFFFF;
}


#copyright {
    padding-top: 10px;
    color: white;
}

#copyright>a {
    color: white;
    text-decoration: underline;
}


.banner-logo {
    margin-top: 5px;
    max-height: 58px !important;
    margin-bottom: 5px;
}


body > main > form > div.alert.alert-block.alert-danger > ul > li {
  list-style: none;
  margin-top: 14px;
}

body > main > div > div.card.border-primary > div.card-body > form > div.alert.alert-block.alert-danger > ul > li {
  list-style: none;
  margin-top: 14px;
  
}


.btn-primary {
    background: #005bbb;
    border-color: #005bbb;
}

.hijacked-warning {
  background-size: 50px 50px;
  background-color: #ffe761;
  color: #000;
  background-image: -webkit-linear-gradient(-45deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(-45deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, .04) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, .04) 50%, rgba(0, 0, 0, .04) 75%, transparent 75%, transparent);
  margin-bottom:0;
}

.hijacked-warning-controls,
.hijacked-warning-controls form {
	display: inline;
}

.django-hijack-button-default {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
	background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
	background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
	background-color:#ffffff;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#666666;
	font-family:Arial;
	font-size:11px;
	font-weight:bold;
	padding:3px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.django-hijack-button-default:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.django-hijack-button-default:active {
	position:relative;
	top:1px;
}

.form-control[readonly]{background-color:#ffffff;opacity:1}

