{% load portal_tags %}
{% load static %}
<footer id="footer" class="footer">
  <div class="container">
    <div id="footer-div-main" class="row" sytle="margin-bottom:5px;">
      <div class="col-md-4 d-none d-sm-block">
        <a href="http://www.buffalo.edu/">
          <img class="img-fluid" src="{% static 'common/images/ub-logo-two-line.png' %}" alt="University at Buffalo, The State University of New York"></a>
      </div>
      <div class="col-md-5 ">
        <div id="address">
            Center for Computational Research
            <br> NYS Center of Excellence in Bioinformatics and Life Sciences
            <br> 701 Ellicott St
            <br> Buffalo, New York 14203
        </div>
        <div class="clearfix"></div>
        <br>
        <a style="color:white;text-decoration: underline;" href="https://ubccr.freshdesk.com/">CCR Help Support Portal<i class="fas fa-external-link-alt"></i></a>

      </div>
      <div class="col-md-3 d-none d-sm-block">
        Quick Coldfront Links
        <ul>
            <li><a href="https://docs.ccr.buffalo.edu/en/latest/portals/coldfront/" >What is Coldfront?</a></li>
            <li><a href="https://docs.ccr.buffalo.edu/en/latest/portals/coldfront/#request-an-allocation" >Requesting Allocations to Resources</a></li>
            <li><a href="https://docs.ccr.buffalo.edu/en/latest/portals/coldfront/#complete-yearly-project-review" >Yearly Project Renewal</a></li>
        </ul>
      </div>
    </div>
      <div class="float-right">
        <div class="d-inline-block" id="copyright">© 2018 <a href="http://www.buffalo.edu/">University at Buffalo</a>. All rights reserved.</div> 
        <div class="d-inline-block"><div class="d-none d-sm-block">  |  <a href="http://www.buffalo.edu/administrative-services/policy1/ub-policy-lib/privacy.html">Privacy</a>  |  <a href="http://www.buffalo.edu/access/about-us/contact-us.html">Accessibility</a></div></div>
      </div>
    <div>
         <p>Powered by ColdFront Version {% get_version %} | <a href="https://github.com/ubccr/coldfront"><i class="fab fa-github" aria-hidden="true"></i> GitHub</a></p>
    </div>
  </div>

</footer>
