{% load static %}
<footer id="footer" class="footer">
  <div class="container">
    <div id="footer-div-main" class="row" sytle="margin-bottom:5px;">
      <div class="col-md-4 d-none d-sm-block">
        <a href="http://www.buffalo.edu/">
          <img class="img-fluid" src="{% static 'common/images/ub-logo-two-line.png' %}" alt="University at Buffalo, The State University of New York"></a>
      </div>
      <div class="col-md-5 ">
        <div id="address">
            Center for Computational Research
            <br> NYS Center of Excellence in Bioinformatics and Life Sciences
            <br> 701 Ellicott St
            <br> Buffalo, New York 14203
        </div>
        <div class="clearfix"></div>
        <br>
        <a style="color:white;text-decoration: underline;" href="https://ubccr.freshdesk.com/">Support Portal & Searchable Knowledgebase <i class="fas fa-external-link-alt"></i></a>

      </div>
      <div class="col-md-3 d-none d-sm-block">
        Quick Coldfront Links
        <ul>
            <li><a href="https://ubccr.freshdesk.com/support/solutions/articles/13000009624-what-is-coldfront" >What is Coldfront?</a></li>
            <li><a href="https://ubccr.freshdesk.com/support/solutions/articles/13000020759-creating-a-new-project" >Project Setup - New Faculty</a></li>
            <li><a href="https://ubccr.freshdesk.com/support/solutions/articles/13000010700-managing-projects-in-coldfront-existing-faculty-users" >Managing Projects</a></li>
            <li><a href="https://ubccr.freshdesk.com/solution/articles/13000039820-yearly-project-renewal" >Yearly Renewal</a></li>
        </ul>
      </div>
    </div>
      <div class="float-right">
        <div class="d-inline-block" id="copyright">© 2018 <a href="http://www.buffalo.edu/">University at Buffalo</a>. All rights reserved.</div> 
        <div class="d-inline-block"><div class="d-none d-sm-block">  |  <a href="http://www.buffalo.edu/administrative-services/policy1/ub-policy-lib/privacy.html">Privacy</a>  |  <a href="http://www.buffalo.edu/access/about-us/contact-us.html">Accessibility</a></div></div>
      </div>

  </div>

</footer>
